.logo{
    width: 200px;
}

.main-header{
    display: -webkit- flex;
    display: -moz- flex;
    display: flex;
    display: -ms- flex; 
}

.menu ul{
    display: -webkit- flex;
    display: -moz- flex;
    display: flex;
    display: -ms- flex; 
    margin: 0 0 0 auto;
    list-style: none;
}

.menu{
    margin-left: auto;
}

.menu li{
    margin: 0.5em;
}

footer{
    background: #333333;
    color: #faf8f8;
    padding: 1em;
    margin-top: 3em;
    text-align: center;
}

footer a {
    color: #ffffff;
}

.siguenos a{
    font-size : .9em;
    display   : block;

}
.siguenos a:before {
    display      : inline-block;
    margin-right : .3em;