block config 

    include ../config/config.pug


html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        description( name="description", content=description)
        title #{pageTitle} | #{siteTitle}
        link(rel="stylesheet", href="https://rawgit.com/escueladigital/EDgrid/master/css/ed-grid.min.css")
        link(rel="stylesheet", href="/css/styles.css")
    body
        header.main-header
            a(href="/") 
                img(src="/img/logo.svg", alt="logo").logo
            nav.menu
                include ../blocks/menu.pug

        div
            block banner   
                img(src='/img/' + currentPage + '.jpg')   

        main    
            block main           

        aside
            block aside
                if siguenos== true
                    include ../blocks/siguenos.pug

        footer
            p Creativos ABC -Todos los derechos reservados      
            block footer  