-pages=['inicio','nosotros','servicios','portafolio','contacto']
-pageTitle= 'Inicio'
-currentPage = 'inicio'
-siteTitle= ' Creativos ABC'
-description= 'Bienvenids al sitio web de CreAtivos ABC'
-siguenos= 'true'