extends template/template.pug

append config
    -pageTitle='Contactenos'
    -desription='Super descrpcion del sitio'
    -currentPage='contacto'

block main
    <iframe height="581" allowtransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none" src="https://rafaelgus.wufoo.com.mx/embed/z1yptef51y8afur/">
    <a href="https://rafaelgus.wufoo.com/forms/z1yptef51y8afur/">
     Fill out my Wufoo form!</a></iframe>
    

block footer
    include blocks/siguenos.pug
                                                  