extends template/template.pug

append config   
    -siguenos = false

block main
    h1 Bienvenidos
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, labore consequatur nemo provident tempore assumenda repudiandae ut quibusdam. Accusantium commodi obcaecati est vero molestiae, esse asperiores inventore fugiat velit laudantium.


block footer
    include blocks/siguenos.pug