extends template/template.pug

append config
    -pageTitle='Portafolio'
    -desription='Super descrpcion del sitio'
    -currentPage='portafolio'

block main
    h1 Bienvenidos
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, labore consequatur nemo provident tempore assumenda repudiandae ut quibusdam. Accusantium commodi obcaecati est vero molestiae, esse asperiores inventore fugiat velit laudantium.


